/* Global Styles */

body {
    margin-top: 100px;
    background-color: #fff;
    font-family: "Quattrocento Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@media (min-width: 768px) {
    body {
        margin-top: 50px;
    }
}

#wrapper {
    padding-left: 0;
}

#page-wrapper {
    width: 100%;
    padding:0px 10px;
    background-color: #fff;
}

.huge {
    font-size: 50px;
    line-height: normal;
}

@media (min-width: 768px) {
    #wrapper {
        padding-left: 208px;
    }

    #page-wrapper {
        padding: 0px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0 15px;
}

.top-nav > li {
    display: inline-block;
    float: left;
    font-size: 18px;
}

.top-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #555;
}

.top-nav > li > a:hover,
.top-nav > li > a:focus,
.top-nav > .open > a,
.top-nav > .open > a:hover,
.top-nav > .open > a:focus {
    color: #555;
    background-color: #f7f9fe;
}

.top-nav > .open > .dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0, 0, 0, .15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.top-nav > .open > .dropdown-menu > li > a {
    white-space: normal;
}

ul.message-dropdown {
    padding: 0;
    max-height: 350px;
    overflow-x: hidden;
    overflow-y: auto;
}

li.message-preview {
    width: 275px;
    border-bottom: 1px solid rgba(0, 0, 0, .15);
}

li.message-preview > a {
    padding-top: 15px;
    padding-bottom: 15px;
}

li.message-footer {
    margin: 5px 0;
}

ul.alert-dropdown {
    width: 200px;
}

/* Side Navigation */

@media (min-width: 768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 200px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #303946;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav > li > a {
        width: 200px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #262d37 !important;
        color: #fff;
    }

    .side-nav li a:active {
        outline: none;
        background-color: #262d37 !important;
        color: #fff;
    }
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:focus, .navbar-inverse .navbar-nav > .active > a:hover {
    color: #fff;
    background-color: #262d37;
}

.navbar-inverse .navbar-nav > li > a {
    color: #333;
    font-size: 13px;
    line-height: 22px;
}

.navbar-inverse .navbar-nav > li > a i {

    margin-right: 10px;
    font-size: 19px;
}

.side-nav > li > ul {
    padding: 0;
}

.side-nav > li > ul > li > a {
    display: block;
    padding: 10px 15px 10px 38px;
    text-decoration: none;
    color: #999;
    position: relative;
}

.side-nav > li > ul > li > a:hover {
    color: #fff;
}

.side-nav > li > ul > li > a:active {
    color: #fff;
}

.side-nav > li > ul > li > a:before {
    content: "";
    border: 1px solid #8b929a;
    border-radius: 50%;
    width: 7px;
    height: 7px;
    float: left;
    margin-top: 6px;
    left: 26px;
    position: absolute;
    z-index: 12;
    background-color: #1c2128;
    transition: border-color;
    transition-duration: 0.4s;
}

.side-nav > li > ul > li > a:after {
    content: "";
    height: 38px;
    width: 1px;
    background-color: #8b929a;
    position: absolute;
    top: 0;
    left: 29px;
    z-index: 10;
}

.huge {
    font-size: 40px;
}

.panel-green {
    border-color: #5cb85c;
}

.panel-green > .panel-heading {
    border-color: #5cb85c;
    color: #fff;
    background-color: #5cb85c;
}

.panel-green > a {
    color: #5cb85c;
}

.panel-green > a:hover {
    color: #3d8b3d;
}

.panel-red {
    border-color: #d9534f;
}

.panel-red > .panel-heading {
    border-color: #d9534f;
    color: #fff;
    background-color: #d9534f;
}

.panel-red > a {
    color: #d9534f;
}

.panel-red > a:hover {
    color: #b52b27;
}

.panel-yellow {
    border-color: #f0ad4e;
}

.panel-yellow > .panel-heading {
    border-color: #f0ad4e;
    color: #fff;
    background-color: #f0ad4e;
}

.panel-yellow > a {
    color: #f0ad4e;
}

.panel-yellow > a:hover {
    color: #df8a13;
}

.navbar-inverse {
    background-color: #fff;
    border-color: #eee;
    color: #333;
    box-shadow: 0 1px 4px rgba(0, 0, 0, -0.84), 0 1px 4px rgba(0, 0, 0, .20);
}

.sidebar-toggle-box {
    float: left;
    margin-top: 5px;
    margin-left: 24px !important;
    background: #40C377 !important;
    border-radius: 2%;
    -webkit-border-radius: 2%;
    width: 36px;
    height: 36px;
    position: absolute;
    right: 4px;
    -webkit-transition: all 0.7s ease;
    transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    border-radius: 100%;
    box-shadow: 0 1px 4px rgba(0, 0, 0, -0.84), 0 1px 4px rgba(0, 0, 0, .20);

}

.sidebar-panel {
    margin: 0;
    width: 100%;
    height: auto;
    float: left;
    position: relative;
}

.sidebar-panel-title {
    font-size: 13px;
    padding: 8px 15px 8px 17px;
    margin: 0;
    background-color: #455264;
    color: #D8D6D6;
    border-top: 1px solid #2e3743;
    border-bottom: 1px solid #2e3743;
}

.sub {
    background: #262d37
}

.sub > li a {
    transition: color;
    transition-duration: 0.4s;
    padding: 5px 20px 4px 42px !important;
    position: relative;
    line-height: 20px;
    letter-spacing: 0.3px;
    white-space: nowrap;
    width: 87%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
}
.fa-postion {
    position: relative;
    top: 3px;
}

.grid-stack > .grid-stack-item > .grid-stack-item-content {
    background: #fff;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid #eee;
    padding: 8px;
    min-height: 400px;
}

.modal-content {
    -webkit-box-shadow: 0 0px 14px rgba(0, 0, 0, .2);
    box-shadow: 0 0px 14px rgba(0, 0, 0, .2);
}

.modal-content {
    border-radius: 5px;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 350px;
        margin: 70px auto;
    }
}

.modal-backdrop {
    background-color: #999;
}

.m-v-xs {
    margin-top: 4px;
    margin-bottom: 4px;
}

.m-v-sm {
    margin-top: 8px;
    margin-bottom: 8px;
}

.m-v {
    margin-top: 16px;
    margin-bottom: 16px;
}

.m-v-md {
    margin-top: 24px;
    margin-bottom: 24px;
}

.font-normal {
    font-weight: normal;
}

.font-thin {
    font-weight: 400;
}

.font-bold {
    font-weight: 700;
}

.text-black {
    color: #000000;
}

.text-black-lt {
    color: rgba(0, 0, 0, 0.4);
}

.text-black-dk {
    color: rgba(0, 0, 0, 0.87);
}

.text-muted {
    color: inherit;
    opacity: 0.75;
}

.text-muted-dk {
    color: inherit;
    opacity: 0.5;
}

.text-muted-lt {
    color: inherit;
    opacity: 0.25;
}

#form > div {
    margin-bottom: 15px;
}

.login-form-control {
    height: 42px;
}

.input-group-addon {
    border-radius: 3px;
}

.p-v {
    padding-top: 14px;
    padding-bottom: 14px;
}

.p-v-xs {
    padding-top: 4px;
    padding-bottom: 4px;
}

.p-v-sm {
    padding-top: 8px;
    padding-bottom: 8px;
}

.p-v-md-small {
    padding-top: 20px;
    padding-bottom: 20px;
}

.p-v-md-btn {
    padding-top: 9px;
    padding-bottom: 9px;
}

.p-v-md {
    padding-top: 23px;
    padding-bottom: 23px;
}

.p-v-lg {
    padding-top: 32px;
    padding-bottom: 32px;
}

.padding {
    padding: 32px 32px;
}

.padding-out {
    margin: -32px -32px;
}

.no-padding {
    padding: 0 !important;
}

.no-padding-h {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.no-padding-v {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.modal-footer {
    padding: 15px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
    background: #eee;
    border-radius: 0px 0px 5px 5px;
}

.modal-header {
    min-height: 16.42857143px;
    padding: 12px 15px;
    border-bottom: 1px solid #e5e5e5;
}

.input-group-addon {
    padding: 6px 12px 6px 12px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1;
    color: #aaa;
    text-align: center;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    border-right: 0px solid !important;
}

.login-form-control {
    display: block;
    width: 100%;
    height: 43px;
    padding: 6px 12px 6px 6px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 0px 4px 4px 0px;
    -webkit-box-shadow: inset 0px 0px 0px rgba(0, 0, 0, .075);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    border-left: 0px solid !important;
}

.dashboard-btn-group1 .dropdown-menu {
    right: 0 !important;
    left: inherit;
    overflow-y: scroll;
    max-height: 350px;
}

#dashboard-btn-group{
    padding: 10px;
    padding-right: 30px;
}

.dashboard-btn-group1 .dropdown-menu li {
    padding: 4px 3px !important;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid #eee;
    font-size: 13px;
    color: #333;
}

.grid-stack > .grid-stack-item > .grid-stack-item-content {
    margin: 0;
    position: absolute;
    top: 0;
    left: 10px;
    right: 10px;
    bottom: 0;
    width: auto;
    z-index: 0 !important;
    overflow-x: hidden;
    overflow-y: auto;
}

.btn-dark {
    color: #ffffff !important;
    background-color: #475069;
    border-color: #475069;
}

.delete-icon {
    position: absolute;
    right: 11px;
    z-index: 9;
}

.move-icon-bg {
    position: absolute;
    left: -13px;
    top: 8px;
    color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.258824) 0px 0px 3px 0px;
    background: rgb(95, 101, 107);
    padding: 9px 6px 9px 8px;
    border-radius: 4px 0px 0px 4px;
}

.chart-modal {
    position: absolute;
    width: 280px;
    top: 12%;
    z-index: 99;
    right: 100px;
}

.btn-info {
    color: #ffffff !important;
    background-color: #3c86db !important;
    border-color: #2979d5 !important;
}

.m-h-xs {
    margin-right: 4px;
    margin-left: 4px;
}

.panel-body {
    padding: 15px 10px !important;
    overflow-y: scroll;
}

.grid-stack > .grid-stack-item {
    min-width: 8.3333333333%;
    position: absolute;
    padding: 0;
    min-height: 400px !IMPORTANT;
}

.row .ui-draggable {
    margin-top: -20px !important;
}

.nav-side-menu {
    top: 37px;
}

.sidebar-panel {
    z-index: 999;
    position: fixed;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    box-shadow: 1px 0 3px rgba(0, 0, 0, 0.3);
}

.footer-logo {
    margin-left: 4px;
}

.fa-cog{
    color : #C1BCBC;
}
.footer-section{position: fixed;
    bottom: 8px;
    left: 20px;
    z-index: 9999;
    color: #fff;}

.footer-section .text-bottom {
    display: inline-block;
    margin-left: 10px;
    margin-top: 4px;
    vertical-align: top;
	font-style:italic;
	font-size:10px;
}

@media (min-width: 768px){
.form-horizontal .control-label {
    padding-top: 7px;
    margin-bottom: 0;
    text-align: left;
}

#sidebar-wrapper {
    top: 39px !important;
}

}

.btn-info {
    color: #ffffff !important;
    background-color: #3c86db;
    border-color: #2979d5;
}


.btn-info:hover, .btn-info:active {
    color: #ffffff !important;
    background-color: #3c86db;
    border-color: #2979d5;
}


.media-object {
    display: block;
    border: 1px solid #ddd;
    border-radius: 6px;
}
.alert-icon{
	    font-size: 24px;
    margin-top: 18px;
    color: #777;
    padding-right: 8px;}

.overly-bg{background: rgba(0,0,0,0.7);
    color: #fff;
    position: fixed;
    z-index: 99999;
    width: 100%;
    height: 2000px;
    display: block;
    top: 0px;
    left: 0px;}
	
.top-arrow{    position: relative;
    top: 47px;
    width: 100px;
    right: -6px;
    text-align: center;
    font-size: 12px;}
	
	.top-arrow1{ position: relative;
    top: 39px;
    width: 100px;
    right: 19px;
    text-align: center;
    font-size: 12px;}
	
	.top-arrow2{position: relative;
    top: 20px;
    width: 100px;
    right:23px;
    text-align: center;
    font-size: 12px;}
	
	
	.left-arrow{    
	 position: relative;
    top: 82px;
    right: -1px;
    text-align: left;
    font-size: 12px;
    padding-bottom: 0px;}
	
	.contact-overlay{position: absolute;
    top: 23%;
    text-align: center;
    left:34%;}
	
.text-grey{ color:#bbb;}
	
.m-t-md {
    margin-top: 24px;
}

.m-t-sm {
    margin-top: 9px;
}

.fa-postion2 {
    position: relative;
    top: 1px;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #333;
}

.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
    background-color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #333;
    background-color: transparent;
}

@media screen and (min-width: 720px) {
    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: #fff;
    }

    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #fff;
    }

    .navbar-inverse .navbar-nav > li > a {
        color: #fff;
        font-size: 13px;
        line-height: 22px;
    }
}